@model MvcEnityFrameworkcodefirst.Models.Kişiler

@{
    ViewBag.Title = "Duzenle";
}

<h2>Bilgileri Düzenle</h2>


@using (Html.BeginForm())
{
    <div class="input-group ">
        <span class="input-group-addon">Ad</span>
        @*<input type="text" class="form-control" placeholder="Adınız" > bunun yerine alttakini yazdık modeli de alabiliyor. *@
        
        @Html.TextBoxFor(x => x.Ad , new { @class = "form-control", placeholder ="Adınız" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">Soyad</span>
        @*<input type="text" class="form-control" placeholder="Adınız" > bunun yerine alttakini yazdık modeli de alabiliyor. *@
        @Html.TextBoxFor(x => x.Soyad , new { @class = "form-control", placeholder = "Soyadınız" })
        
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">Yas</span>
        @*<input type="text" class="form-control" placeholder="Adınız" > bunun yerine alttakini yazdık modeli de alabiliyor. *@
        @Html.TextBoxFor(x => x.Yas , new { @class = "form-control", placeholder = "Yaşınız" })
    </div>
    <br />
    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />

    </div>

}

<div class="input-group">
    @if (ViewBag.mesaj != null)
    {
        <div class="alert alert-@ViewBag.renk" role="alert"> @ViewBag.mesaj</div>

    }

</div>
